<!DOCTYPE html>
<html lang="en">
<head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
</head>
<body>
    <h1>Lets play!</h1>
    <h2>Your Current Hand</h2>
    {% for i in hand %}
        <p>{{i}}</p>
    {% endfor %}
    <a href="/hit">Hit</a>
    <a href="/stay">Stay</a>
    <a href="/split">Split</a>
    <form action="/bet" method = "post">
        <input type="number" name="bet" min = "5" max = "{{balance}}" step = "5" placeholder="multiples of 5">
        <input type="submit" value = "BET">
    </form>
</body>
</html>