<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NEW NINJA</h1>
    <form action="/createNinja" method="post">
        <label for="ninja_namef">First Name:</label>
        <input type="text" name="ninja_fname">
        <label for="ninja_namel">Last Name:</label>
        <input type="text" name="ninja_lname">
        <label for="age">Age:</label>
        <input type="number" name="age">

        <label for="dojo_id">Dojo:</label>
        <select name="dojo_id">
            {% for dojo in dojos %}
            <option value="{{ dojo.id }}">{{ dojo.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Add Ninja">
    </form>
</body>
</html>