.container {
    width:950px;
    padding: 20px;
    background-color: black;
    justify-content: space-between;
}

.col {
    height: 200px;
    margin: 50px;
    padding: 20px;
    background-color: rgb(235, 235, 181);
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
#two {
    background-color: tan;
    justify-content: space-evenly;
}

#three {
    background-color: brown;
}