<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/dashboard">TV Shows</a>
    <h1>{{show.title}}</h1>
    <p>Network: {{show.network}}</p>
    <p>Release Date: {{show.release_date}}</p>
    <p>Description: {{show.description}}</p>

    <p>Posted By: {{user.first_name}} {{user.last_name}}</p>
</body>
</html>