<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <p class="count">{{ count }}</p>
        <a href="/" class="plus1">+1</a>
        <a href="/c" class="plus2">+2</a>
        <a href="/reset_cnt" class="reset">RESET</a>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>