<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Login/Register</h1>
    <div>
        <h3>REGISTER</h3>
        <form action="/register" method="post" >
            <label for="fname">First Name:</label>
            <input type="text" name="fname">
            <br>
            <label for="lname">Last Name:</label>
            <input type="text" name="lname">
            <br>
            <label for="email">email:</label>
            <input type="text" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password">
            <br>
            <input type="submit" value="Register">
        </form>
    </div>
    <div>
        <h3>LOGIN</h3>
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>