<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
</head>
<body>
    <div>
        <h3>CREATE GROUP</h3>
        <form action="/creategrouppost" method="post" >
            <label for="groupName">Group Name:</label>
            <input type="text" name="groupName">
            <br>
            <label for="description">Description:</label>
            <textarea name="description" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>