<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    
    <h1>Create a Post</h1>
    <form action="/savepost" method = "post">
        <input type="hidden" name="group_id" value="{{group_id}}">
        <label for="title">Title:</label>
        <input type="text" name="title">
        <br>
        <label for="post">Body:</label>
        <textarea name="post" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="POST">
    </form>

</body>
</html>