<!DOCTYPE html>
<html lang="en">
<head>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>The Forum</h1>
    <div>
    </div>
    <div class="navbar">
        <a href="/groups">Groups</a>
        <a href="/viewprofile">Profile</a>
        {% if not session['user_id'] %}
        <a href="/login">Login</a>
        {% else %}
        <a href="/logout">Logout</a>
        {% endif %}
    </div>
    <div class="posts">
        <div>
            <!-- <h4 class="group" >Group</h4>
            <h4 class="title">Title</h4>
            <p class="username">Username</p>
            <p class="post">Post</p> -->
            {% for post in posts %}
            <h1>{{post.title}}</h1>
            <a href="/viewpost/{{post.id}}">{{post.title}}</a>
            <br>
            {% endfor %}
        </div>
    </div>
</body>
</html>