{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Login/Register</h1>
    <div>
        <h3>REGISTER</h3>
        <form action="/register" method="post" >
            <label for="username">User Name:</label>
            <input type="text" name="username">
            <br>
            <label for="email">Email:</label>
            <input type="text" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password">
            <br>
            <input type="submit" value="Register">
        </form>
    </div>
    <div>
        <h3>LOGIN</h3>
        <form action="/login" method="post">
            <label for="username">User Name:</label>
            <input type="text" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>